!!!
html
  head
    //- TODO: Google Analytics
    //- TODO: Google Analytics on messages
    title Mothereffing GIFSockets!!! - 404
  body
    p Page not found =(
    p
      a(href="/") Go back to the homepage?
