!!!
html
  head
    //- TODO: Google Analytics
    //- TODO: Google Analytics on messages
    title Mothereffing GIFSockets!!!
    link(href="/public/css/bootstrap.min.css", rel="stylesheet", type="text/css", media="all")

  body
    p Test World
